In [2]:
single_quoted = 'This is a string in single quotes.'

double_quoted = "This is a string in double quotes."

triple_quoted = '''This is a string
that spans multiple lines
using triple quotes.'''

triple_quoted_double = """This is another
multi-line string using
triple double quotes."""

print(single_quoted)
print(double_quoted)
print(triple_quoted)
print(triple_quoted_double)

This is a string in single quotes.
This is a string in double quotes.
This is a string
that spans multiple lines
using triple quotes.
This is another
multi-line string using
triple double quotes.

In [3]:
text = input("Enter a string: ")

if len(text) == 0:
    print("The string is empty.")
else:
    first_char = text[0]
    last_char = text[-1]
    middle_index = len(text) // 2
    middle_char = text[middle_index]

    print("First character:", first_char)
    print("Middle character:", middle_char)
    print("Last character:",last_char)

First character: 3
Middle character: 5
Last character: 5

In [5]:
sentence = "Python slicing is powerful and flexible."

first_five = sentence[:5]

last_five = sentence[-5:]
every_second = sentence[::2]

print("First 5 characters:", first_five)
print("Last 5 characters:", last_five)
print("Every second character:",every_second)

First 5 characters: Pytho
Last 5 characters: ible.
Every second character: Pto lcn spwru n lxbe

In [ ]:
s = "hello"
s[0]="H"

In [8]:
s = "hello"
new_s = "H" + s[1:]  
print(new_s)

Hello

In [9]:
text = input("Enter a string: ")

print("Uppercase:", text.upper())

print("Lowercase:",text.lower())

Uppercase: 84
Lowercase: 84

In [10]:
main_string = input("Enter the main string: ")
sub_string = input("Enter the substring to find: ")

position = main_string.find(sub_string)

if position != -1:
    print(f"The substring is found at position {position}.")
else:
    print("The substring was not found.")

The substring was not found.

In [11]:
sentence = "This old house has an old charm."
updated_sentence = sentence.replace("old", "new")
print(updated_sentence)

This new house has an new charm.

In [12]:
input_string = "apple,banana,cherry"

string_list = input_string.split(',')

output_string = ' '.join(string_list)

print(output_string)

apple banana cherry

In [13]:
numbers = [10, 20, 30, 40, 50]

print("Entire list:", numbers)

print("First element:", numbers[0])

print("Last element:",numbers[-1])

Entire list: [10, 20, 30, 40, 50]
First element: 10
Last element: 50

In [14]:
fruits = ["apple", "banana", "cherry"]
print("Original list:", fruits)

fruits.append("orange")
print("After adding 'orange':", fruits)

fruits.remove("banana")
print("After removing 'banana':", fruits)

fruits[1] = "blueberry"  
print("After modifying second element:",fruits)

Original list: ['apple', 'banana', 'cherry']
After adding 'orange': ['apple', 'banana', 'cherry', 'orange']
After removing 'banana': ['apple', 'cherry', 'orange']
After modifying second element: ['apple', 'blueberry', 'orange']

In [16]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80,90,100]

In [17]:
numbers[:5]

[10, 20, 30, 40, 50]

In [18]:
numbers[-5:]

[60, 70, 80, 90, 100]

In [19]:
numbers[3:8]

[40, 50, 60, 70, 80]

In [20]:
numbers[::2]

[10, 30, 50, 70, 90]

In [21]:
numbers[::-1]

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [22]:
numbers[2:9:3]

[30, 60, 90]

In [23]:
numbers[1:-1]

[20, 30, 40, 50, 60, 70, 80, 90]

In [24]:
numbers[-3:]

[80, 90, 100]

In [25]:
numbers[0:3]

[10, 20, 30]

In [26]:
numbers[::-2]

[100, 80, 60, 40, 20]

In [27]:
student = {
    "name": "Aarav",
    "age": 20,
    "major": "Computer Science"
}

student["grade"] = "A"

student["age"] = 21

print(student)

{'name': 'Aarav', 'age': 21, 'major': 'Computer Science', 'grade': 'A'}

In [28]:
student = {
    "name": "Jyoshna",
    "age": 20,
    "major": "Computer Science"
}

print("Keys:", student.keys())

print("Values:", student.values())

print("Items:", student.items())

Keys: dict_keys(['name', 'age', 'major'])
Values: dict_values(['Jyoshna', 20, 'Computer Science'])
Items: dict_items([('name', 'Jyoshna'), ('age', 20), ('major', 'Computer Science')])

In [29]:
A = {1, 2, 3, 4}
B = {3, 4,5,6}

In [30]:
union = A |B

In [31]:
difference = A -B

In [32]:
def add_numbers(a, b):
    return a+b

In [34]:
result = add_numbers(5, 3)
print(result)

8

In [35]:
def greet(name="there"):
    print(f"Hello, {name}! Welcome!")

greet()           
greet("Jyoshna")

Hello, there! Welcome!
Hello, Jyoshna! Welcome!

In [36]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)

In [37]:
print(factorial(5))

120

In [38]:
def fibonacci(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

print(fibonacci(10))

55

In [39]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x ** 2, numbers))

print(squared_numbers)

[1, 4, 9, 16, 25]

In [40]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6, 8, 10]

In [3]:
class Rectangle:
    def __init__(self, length=0, width=0):
        self.length = length
        self.width = width

    def set_dimensions(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

    def perimeter(self):
        return 2 * (self.length + self.width)


# Test code should be OUTSIDE the class
r = Rectangle()
r.set_dimensions(5, 3)
print("Area:", r.area())           # 15
print("Perimeter:", r.perimeter()) # 16

Area: 15
Perimeter: 16

In [4]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks  # list of marks for 3 subjects

    def total_marks(self):
        return sum(self.marks)

    def average_marks(self):
        return self.total_marks() / len(self.marks)

s = Student("Alice", [85, 90, 78])
print("Total:", s.total_marks())     # 253
print("Average:", s.average_marks()) # 84.33

Total: 253
Average: 84.33333333333333

In [5]:
class Temperature:
    def __init__(self, celsius=0):
        self.celsius = celsius

    def set_celsius(self, celsius):
        self.celsius = celsius

    def to_fahrenheit(self):
        return (self.celsius * 9/5) + 32

    def to_kelvin(self):
        return self.celsius + 273.15

t = Temperature()
t.set_celsius(25)
print("Fahrenheit:", t.to_fahrenheit()) # 77.0
print("Kelvin:", t.to_kelvin())         # 298.15

Fahrenheit: 77.0
Kelvin: 298.15

In [6]:
class Temperature:
    def __init__(self, celsius=0):
        self.celsius = celsius

    def set_celsius(self, celsius):
        self.celsius = celsius

    def to_fahrenheit(self):
        return (self.celsius * 9/5) + 32

    def to_kelvin(self):
        return self.celsius + 273.15

t = Temperature()
t.set_celsius(25)
print("Fahrenheit:", t.to_fahrenheit()) # 77.0
print("Kelvin:", t.to_kelvin())         # 298.15

Fahrenheit: 77.0
Kelvin: 298.15

In [7]:
class ShoppingCart:
    def __init__(self):
        self.items = []  # list of dictionaries [{'name': 'item1', 'price': 100}]

    def add_item(self, name, price):
        self.items.append({'name': name, 'price': price})

    def remove_item(self, name):
        self.items = [item for item in self.items if item['name'] != name]

    def total_price(self):
        return sum(item['price'] for item in self.items)

cart = ShoppingCart()
cart.add_item("Apple", 2)
cart.add_item("Banana", 1)
cart.remove_item("Apple")
print("Total:", cart.total_price())  # 1

Total: 1

In [8]:
class Employee:
    def __init__(self, name, emp_id, salary):
        self.name = name
        self.emp_id = emp_id
        self.salary = salary

    def give_raise(self, percentage):
        self.salary *= (1 + percentage / 100)


e = Employee("John", 101, 50000)
e.give_raise(10)
print("New Salary:", e.salary)  # 55000.0

New Salary: 55000.00000000001