In [1]:
a=int(input("enter the value:"))
b=int(input("enter the value:"))
print("\nBefore swapping")
print("a=",a)
print("b=",b)
temp=a
a=b
b=temp
print("\nAfter swapping")
print("a=",a)
print("b=",b)

Before swapping
a= 23
b= 34

After swapping
a= 34
b= 23

In [ ]:
num1=input("enter the first value:")
operator=input("enter the operator(+,-,*,/):")
num2=input("enter the second value:")

result=eval(num1+operator+num2)
print("result:",result)

result: 30

In [3]:
num_str =input("enter a number:")
num_int =int(num_str)
num_float =float(num_str)
print(f"integer value:{num_int},Type:{type(num_int)}")
print(f"Float value:{num_float},Type:{type(num_float)}")

integer value:25,Type:<class 'int'>
Float value:25.0,Type:<class 'float'>

In [5]:
a=float(input("enter a:"))
b=float(input("Enter b:"))
c=float(input("Enter c:"))
D=b**2-4*a*c
D=complex(D,0)
sqrt_D=D**0.5
root1=(-b + sqrt_D)/(2*a)
root2=(-b -sqrt_D) / (2*a)
print("Root 1 =",root1)
print("Root 2 =",root2)

Root 1 = (-1.25+1.5612494995995996j)
Root 2 = (-1.25-1.5612494995995996j)

In [6]:
name=str(input("enter the name:"))
age=int(input("enter the age:"))
height=float(input("enter the value:"))
print(f"Name:{name},age:{age}years,height:{height}cm")

Name:cimiti sireesha,age:19years,height:55.5cm

In [7]:
num1 = float(input("Enter first number:"))
num2 = float(input("Enter second number:"))
num3 = float(input("Enter third number:"))
result = ((num1 + num2)*num3)/(num1-num2)
print("Result =",round(result,2))

Result = -40.0

In [8]:
num1 = int(input("enter first number:"))
num2 = int(input("enter second number"))
sum = num1+num2
print("the sum of num 1 and num2 is:",sum)

the sum of num 1 and num2 is: 12

In [9]:
name=str(input("enter the name"))
uppercase=name.upper()
print("uppercase name is",uppercase)

uppercase name is SIRI

In [10]:
num=int(input("enter the number"))
squrt=num**2
print("square of",num,"is",squrt)

square of 85 is 7225

In [11]:
a=str(input("enter the string:"))
b=str(input("enter the string:"))
c=a+b
print("string1:",a)
print("string2",b)
print("concatenation:",c)

string1: hello
string2 world
concatenation: helloworld

In [12]:
float_num=float(input("enter the number:"))
int_num = int(float_num)
print("integer equivalent of",float_num,"is",int_num)

integer equivalent of 85.0 is 85

In [13]:
age=int(input("enter the age"))
print(f"you are{age}years old")

you are19years old

In [14]:
num1=int(input("enter the first number:"))
num2=int(input("enter the second number:"))
product=num1*num2
print(f"product of {num1} and {num2} is {product}")

product of 8 and 4 is 32

In [15]:
sentence=str(input("enter the sentence"))
length=len(sentence)
print("sentence:",sentence)
print(f"length of the given sentence is{length}")

sentence: I love programming
length of the given sentence is18

In [16]:
num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))
num3 = int(input("Enter third number:"))
average = num1+num2+num3/3
print("The average is:",average)

The average is: 6.333333333333333

In [17]:
num=int(input("enter the value:"))
absolute_value =abs(num)
print("the absolute value of",num,"is",absolute_value)

the absolute value of 53 is 53

In [18]:
num1 = int(input("enter the first value:"))
num2 = int(input("enter the second value:"))
difference=num1-num2
print("the difference between",num1,"and",num2,"is",difference)

the difference between 9 and 7 is 2

In [19]:
text=str(input("Ente a string:"))
reversed_text=text[::-1]
print(text)
print("Reversed string:",reversed_text)

srinu
Reversed string: unirs

In [20]:
height=float(input("enter the heigth:"))
converted_height=height/100
print("height in cm :",height)
print("height in meters:",converted_height)

height in cm : 85.5
height in meters: 0.855

In [21]:
num1=int(input("enter the first value:"))
num2=int(input("enter the second value:"))
quotient=num1/num2
print("quotient of",num1,"and",num2,"is",quotient)

quotient of 67 and 78 is 0.8589743589743589

In [22]:
name=str(input("enter the name"))
print(f'"name"')

"name"

In [1]:
number=float(input("enter the value:"))
result=round(number,2)
print("result of",number,"after rounding off to 2 decimal points is",result)

result of 3.0 after rounding off to 2 decimal points is 3.0

In [24]:
str1=str(input("enter the string:"))
str2=str(input("enter the string:"))
print(f"{str1} {str2}")

siri srinu

In [25]:
value=int(input("enter the value"))
result=type(value)
print(value)
print("type:",result)

54
type: <class 'int'>

In [26]:
num1=int(input("enter the first value:"))
num2=int(input("enter the second value:"))
num3=int(input("enter the third value:"))
sum=num1+num2+num3
product=num1*num2*num3
print(f"sum of numbers is {sum}")
print(f"product of numbers is {product}")

sum of numbers is 202
product of numbers is 235620