In [1]:
var = "name"
print(var)

name

In [2]:
nums = [1,5,11,3,12,15]
for i in nums:
    if i % 2 == 0:
        s = i ** 2
        print(s)
    else :
        print("odd number")

odd number
odd number
odd number
odd number
144
odd number

In [9]:
radius = [3,5,6,11,10]
for r in radius:
    area=3.14*r**2
    print (f"the area for{r} is{area}")

the area for3 is28.26
the area for5 is78.5
the area for6 is113.04
the area for11 is379.94
the area for10 is314.0

In [14]:
video_games=['pubg','ludo','free fire','snake']
for name in video_games:
    if name.startswith('l'):
        print(name)

ludo

In [1]:
10+11+12+13+14+15+16+17+18+19+20

165

In [14]:
total = 0
for num in range(10,21):
    total = total+num
print(total)

165

In [12]:
total = 1
for num in range(10,21):
    total = total*num
print(total)

6704425728000

In [13]:
total = -3
for num in range(10,21):
    total = total-num
print(total)

-168

In [11]:
nums = [5,11,2,53,10,33]
m = 0
for num in nums:
    if num > m:
        m = num
print(m)

53

In [22]:
nums = [25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49.50]
count=0
for i in nums:
    if i%3==0:
       count=count+1

print(f"total count ={count}")

total count =8

In [23]:
nums=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
count=0
for i in nums:
    if i%2==0:
        count=count+1
print(count)

10

In [2]:
movies = ["harry potter 1","harry potter 2","harry potter 3","harry potter 4","harry potter 5","harry potter 6","harry potter 7", "fast and fourious 1","fast and fourious 2","fast and fourious3"]
for movie in movies:
 if movie.startswith("h") or movie.startswith("h"):
    #  long way -> movies_with_h = movies_with_h + 1
    movies_with_h += 1
print("Count",movies_with_h)

Count 18

In [8]:
num = 5
fact = 1
for i in range(num,0,-1):
  fact = fact * i
print(fact)

120

In [ ]:
num = 10
fact = 1
for i in range(num,0,-1):
    print(f'{i} * {fact}')
    fact = fact * i
print(fact)

10 * 1
9 * 10
8 * 90
7 * 720
6 * 5040
5 * 30240
4 * 151200
3 * 604800
2 * 1814400
1 * 3628800
3628800

In [ ]:

# loops taotal 10*5 => 50times
for i in range(1,11):       #loops 10 times
    for j in range(1,6):   #loops 5 times
         print(f"i = {i}, j = {j}")

i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 1, j = 4
i = 1, j = 5
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 2, j = 4
i = 2, j = 5
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3
i = 3, j = 4
i = 3, j = 5
i = 4, j = 1
i = 4, j = 2
i = 4, j = 3
i = 4, j = 4
i = 4, j = 5
i = 5, j = 1
i = 5, j = 2
i = 5, j = 3
i = 5, j = 4
i = 5, j = 5
i = 6, j = 1
i = 6, j = 2
i = 6, j = 3
i = 6, j = 4
i = 6, j = 5
i = 7, j = 1
i = 7, j = 2
i = 7, j = 3
i = 7, j = 4
i = 7, j = 5
i = 8, j = 1
i = 8, j = 2
i = 8, j = 3
i = 8, j = 4
i = 8, j = 5
i = 9, j = 1
i = 9, j = 2
i = 9, j = 3
i = 9, j = 4
i = 9, j = 5
i = 10, j = 1
i = 10, j = 2
i = 10, j = 3
i = 10, j = 4
i = 10, j = 5

In [ ]:

n = 6
for i in range(1,n):
    for j in range(1,n):   # dont change line till inner loop
       print(j,end=' ')    # change line for the outer loop
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [16]:
n = 10
for i in range(1,n):
    for j in range(1,n):
        print(i,end=' ')
    print()

1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3 3
4 4 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6
7 7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [ ]:
num = int(input("enter a number")) 
for n in range(2,num):
  if num %n==0:
    print(f"{n} not a prime number")
    break