f(x) = X*2 + X + 10
G(X,Y) = Y * 2

In [1]:
f = lambda x: x*2 + x + 10
print(f(5))

25

In [2]:
print(f(10))
print(f(30))
print(f(2) + 210)

40
100
226

In [3]:
g = lambda x,y : x*y + 10 - y**2
g(12,5)

45

In [5]:
area_of_circle = lambda r: 22/7 * r **2

In [6]:
area_of_circle(5)

78.57142857142857

In [4]:
x = [1,2,3,4,5] #data
x2 = [i**2 for i in x] #comprehension

 - data processing functions
 . map( function any iterable)
 map() - same operation applied on all elements
 ex : map(int,["2","3","4","5"]) #strings

 filters - select elements based on the

In [7]:
map(int, ['1','2','3','4','5'])

In [8]:
#
for num in map(int, ['1','2','3','4','5']):
    print(num)

1
2
3
4
5

In [9]:
for ascii_code in map(ord, ['a','b','c','d']):
    print(ascii_code,end=' ')

97 98 99 100

In [10]:
list(map(ord, ['a','b','c','d']))

[97, 98, 99, 100]

In [11]:
list(map(round,[12.34,56.78,90.12,34.56]))

[12, 57, 90, 35]

In [12]:
tuple(map(round,[12.34,1.3333,23.12312312]))

(12, 1, 23)

In [13]:
set(map(round,[12.34,1.3333,23.12312312]))

{1, 12, 23}

In [17]:
animals = ['cat','dog','elephant','tiger','lion','deer','zebra','giraffe','monkey','bear','fox','wolf','rabbit']

out =list (map(lambda e : e[0],animals))
print(out)

['c', 'd', 'e', 't', 'l', 'd', 'z', 'g', 'm', 'b', 'f', 'w', 'r']

In [18]:
list(map(lambda e: e[:3],animals))

['cat',
 'dog',
 'ele',
 'tig',
 'lio',
 'dee',
 'zeb',
 'gir',
 'mon',
 'bea',
 'fox',
 'wol',
 'rab']

In [19]:
fruits = ['apple','bannana','cherry','date','fig', 'grape', 'kiwi', 'lemon', 'mango','nectarine','orange', 'papaya']
print(fruits)
print(len(fruits) == len(animals))

['apple', 'bannana', 'cherry', 'date', 'fig', 'grape', 'kiwi', 'lemon', 'mango', 'nectarine', 'orange', 'papaya']
False

In [22]:
map(lambda a,f: a[:3] + f[-3:], animals,fruits)

In [23]:
x,y = [1,2,3],[3,4,5]
z = list(map(lambda i,j: i+j, x,y))
print(x,y,z,sep='\n')

[1, 2, 3]
[3, 4, 5]
[4, 6, 8]

In [25]:
#filter
x = [1,-2,-3,4,-5,6]
ans = filter(lambda i: i>0, x)
list(ans)

[1, 4, 6]

In [27]:
list(filter(lambda name: 'a' in name, animals))

['cat', 'elephant', 'zebra', 'giraffe', 'bear', 'rabbit']

In [28]:
list(filter(lambda name: 'a' not in name, animals))

['dog', 'tiger', 'lion', 'deer', 'monkey', 'fox', 'wolf']

In [ ]:
#extract animals name with names > 5 characters
list(filter(lambda e: len(e) > 5 , animals))

['elephant', 'giraffe', 'monkey', 'rabbit']

In [32]:
#a better example - get all the word file in download folder
import os
path = 'c:/users/muniraja/downloads/'
list(filter(lambda file: '.doc' in file,os.listdir(path)))

['2051308_Resume.docx',
 'all answer.docx',
 'ARUNA resume 2019.docx',
 'Car_fields_and_relationship.docx',
 'Cimiti Muniraja Resume.docx',
 'CSP DOC.docx',
 'Einstein 1 Platform and Einstein 1 Studio and Einstein Discovery.docx',
 'Exam experience                                                                                                         positives.docx',
 'HRA_LOHP declaration form.docx',
 'Knowledge Check Questions and Answers (1).docx',
 'Knowledge Check Questions and Answers.docx',
 'Naveen Kumar SM_Resume.doc',
 'Real time questions.docx',
 'Rent Receipt.docx',
 'Resume (1).docx',
 'Resume (2).docx',
 'Resume.docx',
 'Salesforce Interview Questions and Answers.docx']

In [34]:
path = 'c:/program files'
filter(lambda item: item.startswith('A'), os.listdir(path))

In [ ]:
class Student:
    def _init_(self,name,marks=[]):
        self.name=name
        self.marks=marks
    def total_marks(self):
        return sum(self.marks)
    def _gt_(self,other):
        if isinstance(other,Student):
            return self.total_marks()>other.total_marks()
        elif isinstance(other,int):
            return self.total_marks()>other
    def _repr_(self):
        return f'Student({self.name},{self.total_marks()})'
def is_passed(marks):
    return marks>200



students=[
    Student("charishma",[67,78,98,78]),
    Student("anupama",[86,75,48,68]),
    Student("vishwas",[84,78,45,43]),
    Student("vijay",[34,56,23,67]),
]
list(filter(is_passed,students))