In [3]:
s = "once upon a time"
s2 = s.replace('once','twice')
print(s,s2)
s3 = s.replace('e','i')
print(s3)

once upon a time twice upon a time
onci upon a timi

In [5]:
#repace for removing content
data = 'py#+#h#o#n'
cleaned_data = data.replace('#', '')
print(data, cleaned_data, sep='\n')

py#+#h#o#n
py+hon

In [12]:
#find/index
m = "Alpine mountain range"
print(m.find('mountain'))
print(m.find('lion'))
print(m.find('pine'))
print(m.find('i'))
print(m.find('i',4))

7
-1
2
3
13

In [16]:
#split 8 join
qoute ='''life before death,
          courage before despar,
          journcy before destination'''
words= qoute.split()   #str -> list
print(qoute)
print(words)
sentences=qoute.split(',')
print(sentences)

life before death,
          courage before despar,
          journcy before destination
['life', 'before', 'death,', 'courage', 'before', 'despar,', 'journcy', 'before', 'destination']
['life before death', '\n          courage before despar', '\n          journcy before destination']

In [ ]:
addr = ['mbu,sree sainath nagar',
           'tirupati','ap','517102']
addrstr = ",".join(addr) #list -> str
print(addr,addrstr,sep='\n')
addr2 = "_".join(addr)
addr3 = "\n".join(addr)
addr4 = "what".join(addr)

['mbu,sree sainath nagar', 'tirupati', 'ap', '517102']
mbu,sree sainath nagar,tirupati,ap,517102